body {
    background-color: rgb(97, 97, 97);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#header {
    background-color: black;
    color: white;
    padding: 1em;
    border: 2px solid whitesmoke;
}

#choose-operands {
    background-color: lavender;
    color: rgb(8, 7, 8);
}

#show-results {
    background-color: rgb(48, 11, 65);
    color: white;
}

.go {
    margin: 1em;
    padding: 1em;
    border: 3px solid rgb(8, 7, 8);
    background-color: black;
    color: white;
}